
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.nav{
    background-image: linear-gradient(to left, #fff, #006a5d);
    box-shadow: 3px 3px 8px 8px rgba(0, 0, 0, 0.24);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: black;
}


.welcome{
    background-image: linear-gradient(to left, #fff, #006a5d);
    padding: 9%;


}

.secondScreen{
    font-family: 'Poppins', sans-serif; 
    padding: 4px;
}

.logline{
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: -10%;
    
}

.logline h1{
    font-weight: bold;
    
}

.logline p{
    font-weight: 500;
    font-size: 15px;
}

.logline button{
    border: none;
    background-color: #ffffff;
    border-radius: 45px;
    padding: 5px;
    box-shadow: 3px 3px  rgba(0, 0, 0, 0.24);
    font-family: 'Poppins', sans-serif;
    color: black;
}

.logline button:hover{
    background-color: #008d7d;
    color: #ffffff;
    transform: scale(1.1);
    transition: all 0.5s;

  }



.loginforns{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.479);
    border-radius: 20px;
    color: #006a5d;
    margin-top: -25%;
    padding: 10%;
    font-family: 'Poppins', sans-serif;
  }
  
  .loginforns h1{
    font-weight: 800;
    color: #006a5d;
   
  }
  .btngetstarted {
   
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 40px;
    border-radius: 50px;
    transition: 0.3s;
    color: #fff;
    background: #006a5d;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(255, 255, 255, 0.1);
  }

  .btngetstarted:hover {
    border-color: rgba(255, 255, 255, 0.5);
  }
 
  
  
  .button{
    border: none;
    background-color: #008d7d;
    border-radius: 9px;
    color: white;
    margin-top: 5%;
    width: 102%;
    font-family: 'Poppins', sans-serif;

    
    
  }

  .button:hover{
    background-color: #008d7d;
    transform: scale(1.1);
    transition: all 0.5s;

  }
  
    @media (max-width: 760px) {
    .logline button {
      display: none;
    }
    .loginforns{
        margin-top: 0%;
        padding: 5%;
    }
    .nav{
        font-size: small;
    }
    .faq h2{
        font-weight: bold;
        font-size: 20px;
      }
}
  
.portfolio{
   background-color:#fff;
    font-family: 'Poppins', sans-serif; 

}

.portfolio h1{
    font-weight: bold;
}
    
.portfolio p{
    font-weight: 500;
    font-size: 17px;

}

  .portfoliowrap {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 2%;
  
    background-image: linear-gradient(to top, #fff -50%, #006a5d);

  }
  
  .portfolio .portfoliowrap img {
    transition: 0.3s;
    position: relative;
    margin-top: 5%;
    z-index: 1;
  }
  
  .portfolio .portfoliowrap .portfolio-info {
    padding: 25px 20px;
    background-color: #fff;
    position: relative;
    border-top: 1px solid #f3f3f3;
    z-index: 2;
  }
  
  
  .portfolio .portfoliowrap:hover img {
    transform: scale(1.1);
  }
  
  .faq{
    font-family: 'Poppins', sans-serif;
    padding: 5%;
    background-image: linear-gradient(to left, #fff, #006a5d);
    font-weight: 600;
    color: #ffffff;

  }

  .faq h2{
    font-weight: bold;
    font-size: 50px;
  }


  .accordionitem p{

    font-weight: 600;
    text-indent: 25px;
    font-size: larger;
    padding: 10px;
    background-color: #fff;
    margin-top: 5%;
    border-radius: 9px;
    color: #006a5d;

  }

  