.about {
  background-color: #000;
  color: #FFF;
  padding: 5%;
}

.about__title {
  font-weight: 700;
  text-align: center;
}

.about__people {
  margin-top: 15%;
  font-weight: 650;
}

.about__message {
  text-align: justify;
  text-indent: 1rem;
  font-weight: 600;
}

.img {
  width: 100%;
  border-radius: 50%;
}

.footer {
  font-weight: 600;
  padding-top: 5%;
}

@media (min-width: 768px) {

  .about__title {
    font-size: 3rem;
  }

  .about__people {
    margin-top: 5%;
    font-size: 2rem;
  }

  .about__message {
    text-indent: 2rem;
    font-size: 1.5rem;
  }

  .img {
    width: 60%;
  }

  .person {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer {
    padding: 1% 5%;
  }
}
