.main {
  background-color: #000;
}

.section {
  padding: 5%;
  justify-items: center;
}

.welcome {
  color: #FFF;
}

.welcome abbr {
  text-decoration: none;
}

.welcome__title {
  font-weight: 700;
  font-size: 2.2rem;
  text-align: center;
}

.welcome__sis_description {
  text-align: justify;
  text-indent: 1rem;
  font-weight: 600;
}

.welcome__signup_button {
  background-color: #FFF;
  color: #000;
  border: none;
  font-weight: bold;
  width: 10rem;
}

.login {
  background-color: #FFF;
  margin: 5%;
  border-radius: 10px;
}

.donation {
  background-color: #FFF;
  color: #000;
}

.donation__title {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
}

.donation__phrase {
  text-align: justify;
  text-indent: 1rem;
  font-weight: 600;
}

.footer {
  background-color: #000;
  color: #FFF;
}

@media (min-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "welcome login"
      "donation donation"
      "footer footer";
  }

  .welcome {
    grid-area: welcome;

    padding-top: 15%;
    padding-left: 10%;
    padding-right: auto;
  }

  .login {
    grid-area: login;
    margin: 5%;
    border-radius: 10px;
    margin-right: 10%;
  }

  .donation {
    grid-area: donation;
    background-color: #FFF;
    color: #000;
    padding: 2% 5%;
  }

  .donation li {
    font-weight: 600;
  }

  .footer {
    grid-area: footer;
    background-color: #000;
    color: #FFF;
    font-weight: 600;

    padding: 2% 5%;
  }
}