@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.home {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.welcome_area {
  background-image: linear-gradient(to left, #fff, #006a5d);
  padding: 5%;
}

.welcome_message {
  color: white;
  padding: 5%;
}



.welcome_message p {
  text-align: justify;
}

.welcome_message button {
  background-color: #fff;
  color: #006a5d;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  padding: 2%;
  margin-top: 5%;
}

.welcome_message button:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  background-color: #008d7d;
  color: white;
}

@media (max-width: 760px) {
  .welcome_message button {
    display: none;
  }
}

.login_form {
  padding: 5%;
}

.welcome_books_area {
  padding: 5%;
  color: #006a5d;
  font-weight: bold;
}

.welcome_books_area h1,
h6 {
  text-align: center;
  font-weight: bold;
}

.welcome_books_area button {
  background-color: #006a5d;
  border: 1px solid #006a5d;
  font-weight: bold;
  width: 25%;
  padding: 1%;
}

.welcome_books_area button:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  background-color: #006a5d;
  border: 1px solid #006a5d;
  color: white;
}

@media (max-width: 760px) {
  .welcome_books_area button {
    padding: 3%;
    width: 75%;
  }
}

.donation_incentive_area {
  background-color: #fff;
  padding: 10%;
  color: #006a5d;
}

@media (max-width: 760px) {
  .donation_incentive_area_message {
    padding: 13%;
  }
}

.donation_incentive_area h6 {
  text-align: justify;
  font-weight: bold;
}

.donation_incentive_area p {
 background-color: #006a5d;
  color: #fff;
  padding: 1%;
  border-radius: 0.5rem;
}

.donation_incentive_area p:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

@media (max-width: 760px) {
  .welcome_message,
  .welcome_books_area,
  .donation_incentive_area_message,
  .donation_incentive_area p {
    color: black;
  }
}