.main {
    background-color: #000;
    padding: 5%;
}

.signup {
    background-color: #FFF;
    color: #000;
    border-radius: 10px;
    padding: 5%;
}

.signup__title {
    text-align: center;
    font-weight: 700;
}

.signup__label {
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 4%;
}

.signup__input {
    border: 1px solid #000;
}

.signup__button {
    background-color: #000;
    color: #FFF;
    border: none;
    font-weight: bold;
    margin-top: 4%;
}

.signup__button:hover {
    background-color: #333;
}

.signup__button:disabled {
    background-color: #EEE;
    color: #000;
}

.footer {
    font-weight: 600;
    padding: 5%;
}

@media (min-width: 768px) {

    .signup {
        margin: 0% 20%;
    }

    .signup__title {
        font-size: 3rem;
    }

    .signup__label {
        font-size: 1.5rem;
        margin-top: 1%;
    }

    .signup__input {
        border: 1px solid #000;
    }

    .signup__button {
        padding: 1%;
        width: 10rem;
        margin-top: 3%;
    }

    .footer {
        padding: 1%;
    }
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #EEE;
    color: black;
    font-weight: bold;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.err_msg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.75rem;
    margin-bottom: 0.5rem;
}