.sign_up_form {
    background-image: linear-gradient(to left, #fff, #006a5d);
    padding: 5%;
    padding-left: 20%;
    padding-right: 20%;
}

@media (max-width: 760px) {
    .sign_up_form {
        padding: 5%;
        padding-left: 10%;
        padding-right: 10%;
    }
}

.sign_up_form h2 {
    font-weight: bold;
    font-size: 40px;
}

.sign_up_form label {
    font-weight: bold;
}

.sign_up_form input {
    color: #006a5d;
    font-weight: bold;
    border: none;
}

.sign_up_form ::placeholder {
    color: #006a5d;
    opacity: 1;
}

.sign_up_form button {
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 40px;
    border-radius: 0.7rem;
    transition: 0.3s;
    background: #006a5d;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.sign_up_form button:hover {
    border-color: rgba(255, 255, 255, 0.5);
    background-color: #006a5d;
    transform: scale(1.1);
    transition: all 0.5s;
}

.sign_up_form button:disabled,
.sign_up_form button[disabled] {
    color: gray;
    background-color: white;
    border: none;
}

.login_button {
    color: #006a5d;
    opacity: 0.75;
}

.login_button:hover {
    color: #006a5d;
    opacity: 1;
}

@media (max-width: 760px) {
    .welcome {
        padding: 20%;
    }
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #fff;
    color: black;
    font-weight: bold;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.err_msg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.75rem;
    margin-bottom: 0.5rem;
}