@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.portfoliowrap {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    margin-left: 2%;
    background-image: linear-gradient(to top, #ffffff5b -50%, #fdfdfda4);
    color: #000;
    font-family: 'Poppins', sans-serif;
  }
  
  .img {
    transition: 0.3s;
    position: relative;
    margin-top: 5%;
    border-radius: 9px;
    z-index: 1;
  }

  .h4{
    box-shadow: none;
    background-image: linear-gradient(to left, #fff -50%, #006a5ef8);
    font-weight: 600;
  }

  

  
  .img:hover {
    transform: scale(1.1);
  }