@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.login_form {
    background-color: white;
    color: #006a5d;
    border-radius: 1rem;
    border: none;
}

.login_form h1 {
    text-align: center;
}

.login_form button {
    border: 1px solid #006a5d;
    background-color: #006a5d;
    color: white;
    font-weight: bold;
    margin: 5%;
    width: 75%;
}

.login_form button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    background-color: #006a5d;
    color: white;
    border: 1px solid #006a5d;
}

@media (max-width: 760px) {
    .login_form button {
        width: 90%;
    }
}