.login {
    padding: 0% 5%;
    font-weight: bold;
    color: #000;
}
.login__title {
    font-weight: 700;
}

.login__submit_button {
    background-color: #000;
    font-weight: bold;
    border: none;
    width: 10rem;
}

.login__input {
    margin-bottom: 5%;

    border: 1px solid #000;
}

.login__input::placeholder {
    color: #000;
}

.err_msg {
    color: red;
}