@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.login_forms {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.479);
    border-radius: 20px;
    color: #006a5d;
    margin-top: -25%;
    padding: 10%;
    font-family: 'Poppins', sans-serif;
}

.login_forms h1 {
    font-weight: 800;
    color: #006a5d;
}

.login_forms button {
    border: none;
    background-color: #008d7d;
    border-radius: 9px;
    color: white;
    margin-top: 5%;
    width: 102%;
    font-family: 'Poppins', sans-serif;
}

.button:hover {
    background-color: #008d7d;
    transform: scale(1.1);
    transition: all 0.5s;
}

@media (max-width: 760px) {
    .login_forms {
        margin-top: 0%;
        padding: 5%;
    }
}