@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.navbar {
    background-image: linear-gradient(to left, #006a5e73 , #006a5d);
    box-shadow: 3px 3px 8px 8px rgba(0, 0, 0, 0.131);
    font-weight: bold;
}

.navbar a {
    color: black;
    opacity: 0.8;
    text-decoration: none;
}

.navbar a:hover {
    color: black;
    opacity: 1;
    text-decoration: none;
}

.navbar_row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 760px) {
    .navbar_row {
        justify-content: center;
    }
}

.navbar_nav {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 760px) {
    .brand_col {
        text-align: center;
    }

    .navbar_nav {
        display: flex;
        justify-content: center;
    }
}