.offscreen {
    position: absolute;
    left: -9999px;
}

.err_msg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.75rem;
    margin-bottom: 0.5rem;
}

.hide {
    display: none;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #006a5d;
    color: white;
    font-weight: bold;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}