.collection {
    padding: 5%;
    background-color: #000;
}

.collection__title {
    color: #FFF;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}

.search {
    border: none;
}

.footer {
    font-weight: 600;
}

@media (min-width: 400px) {
    .collection {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "book book";
    }

    .book {
        grid-area: book;
    }


}

@media (min-width: 600px) {

    .collection {
        padding: 2% 5%;
        background-color: #000;
    }

    .collection__title {
        font-size: 3rem;
    }
}